<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440669090614-kaihbma3f5g84vjp32dn5jru31mf2t9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440669090614-kaihbma3f5g84vjp32dn5jru31mf2t9r</string>
	<key>API_KEY</key>
	<string>AIzaSyDgLd_fE4hg9bAfbvv7vm9qYA4fQMgyVV4</string>
	<key>GCM_SENDER_ID</key>
	<string>440669090614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wildlifego</string>
	<key>PROJECT_ID</key>
	<string>muqayyam-a6239</string>
	<key>STORAGE_BUCKET</key>
	<string>muqayyam-a6239.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440669090614:ios:c403b06f0fe52eee6a7997</string>
</dict>
</plist>